body{
    background-color: cornsilk;
    font-size: 1em;
}
.sqWrap{
    display: flex;
}
.sq{
    position: relative;
    width: 8vw;
    height: 8vw;
    border-radius: 20%;
    margin: 1em;
}
.colorSq{
    z-index: 2;
}
#red{
    background-color: red;
}
#blue{
    background-color: blue;
}
#green{
    background-color: green;
}
#grey{
    background-color: grey;
}
#boxPlace{
    position: relative;
    top: 2em;
    display: flex;
}
.typeBox{
    z-index: 1;
    outline-style: groove;
    background-color: rgb(209, 209, 209);
}